@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@font-face {
	font-family: 'GOT';
	src: local('GOT'), url('./fonts/GOT.ttf') format('truetype');
	font-weight: bold;
}
html {
	font-size: 62.5%;
}
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: GOT, sans-serif;
	/* Ebony */
	background-color: #788483;
}
* {
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	/* Gold */
	color: #b18643;
	font-family: GOT, sans-serif;
}

p,
a,
span {
	font-family: 'Merienda', cursive;
	color: #f1d8bf;
}

// Logo

.logo {
	font-size: 5rem;
	margin: 8rem 0;
}
